*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #000000;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.page-title--with-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;

  background-color: #f2f6f8;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.title--with-bg {
  padding-top: 33px;
  padding-bottom: 35px;
  padding-left: 30px;

  background-color: #f2f6f8;
}

.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* main-header */
.main-header {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
}

/* main-menu */
.main-menu {
  background-color: #293449;
}

.main-menu__logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.main-menu__logo:hover,
.main-menu__logo:focus {
  background-color: #ca2c37;
}

.main-menu__logo:hover,
.main-menu__logo:focus {
  background-color: #ba2732;
}

.main-menu__search-field {
  background-color: #293449;
  border: none;
}

.main-menu__search-field::placeholder {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.main-menu__search-field:focus {
  font-size: 17px;
  line-height: 1.06;
  color: #000000;

  background-color: #ffffff;
}

.main-menu__bookmark,
.main-menu__cart,
.main-menu__order {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.main-menu__bookmark:hover,
.main-menu__bookmark:focus,
.main-menu__cart:hover,
.main-menu__cart:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.main-menu__cart--not-empty {
  background-color: #ee3643;
}

.main-menu__order {
  background-color: #63a63e;
}

.main-menu__order:hover,
.main-menu__order:focus {
  background-color: #5fbb2d;
}

.main-menu__order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/* navigation */
.navigation {
  background-color: #f4f7f9;
}

.navigation__headline {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

/* site-contacts */
.site-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.site-contacts__phone {
  font-size: 21px;
  letter-spacing: 0.42px;
  color: #e9292a;

  border: solid 3px #ffffff;
}

.site-contacts__phone:hover,
.site-contacts__phone:focus,
.site-contacts__phone:active {
  color: #e9292a;
}

/* user navigation */
.user-nav {
  list-style: none;
}
.user-nav__link {
  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* site navigation */
.site-nav {
  font-size: 17px;
  color: #ffffff;

  background-color: #32425c;

  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-nav__list {
  list-style: none;
}

.site-nav__link {
  color: #ffffff;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #ffffff;
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* user-profile */
.user-profile {
  background-color: #ffffff;
}

.user-profile__link {
  font-size: 21px;
  color: #000000;
}

.user-profile__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*user-account */
.user-account {
  list-style: none;
}

.user-account__link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-account__link:hover,
.user-account__link:focus {
  color: #ee3643;
}

.user-account__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs__link,
.breadcrumbs__link:hover,
.breadcrumbs__link:focus,
.breadcrumbs__link:active {
  line-height: 1.38;
  text-transform: uppercase;
}

/* categories */
.categories {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
}

.categories__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.categories__link-wrapper {
  opacity: 0.1;
  background-color: #000000;
}

.categories__link {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

.categories--materials {
  background-color: #ffbf47;
}

.categories--tools {
  background-color: #3bbce3;
}

.categories--equipment {
  background-color: #dc91d8;
}

.categories--full-cart {
  background-color: #8ed78f;
}

.categories--delivery {
  background-color: #ffc047;
}

/* slider */
.slider {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;
}

.slider__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.slider__text {
  font-size: 18px;
  line-height: 1.33;
}

.slider__item--drill {
  background-color: #bea591;
  background-image: url("/img/slider-advantages-1.jpg");

}

.slider__item--perforator {
  background-color: #ccbdaf;
  background-image: url("/img/slider-advantages-2.jpg");
}

/* goods */
.goods {
  list-style: none;

  font-family: 'PT Sans', Arial, sans-serif;
}

.goods__item {
  background-color: #ffffff;
  border: solid 1px #eaeaea;
}

.goods__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods__link,
.goods__link:hover,
.goods__link:focus,
.goods__link:active {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;
}

.goods__title {
  font-size: inherit;
  margin: 0;
}

.goods__old-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background-color: #ee3643;
}

.catalog-button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}

.catalog-button__buy {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.catalog-button__buy:hover,
.catalog-button__buy:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.catalog-button__buy:active {
  background-color: #518534;
}

.catalog-button__bookmark {
  color: #32425c;

  border: solid 3px #63a63e;
}

.catalog-button__bookmark:hover,
.catalog-button__bookmark:focus {
  border: solid 3px #32425c;
}

.catalog-button__bookmark:active {
  color: rgba(50, 66, 92, 0.3);

 /* zeplin - как взять цвет бордера? */
}

/* brands */
.brands__list {
  list-style: none;
}

.brands__item {
  width: 220px;
  height: 145px;
}

.brands__item:hover,
.brands__item:focus,
.brands__item:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.brands__item:active {
  opacity: 0.3;
}

/* delivery section */
.delivery__list {
  list-style: none;
}

.delivery__item {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
}

/* contacts section */
.contacts__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #000000;
}

/* main-footer */
.main-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
}

/* sub-menu */
.sub-menu {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;
}

.sub-menu__logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.sub-menu__list {
  list-style: none;
}

.sub-menu__link {
  color: #f1f5f7;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  text-decoration: underline;
}

.sub-menu__link:active {
  color: rgba(241, 245, 247, 0.5);
}

/* sub-nav */
.sub-nav {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;
}

.sub-nav,
.sub-nav__phone,
.sub-nav__phone:hover,
.sub-nav__phone:focus,
.sub-nav__phone:active {
  color: #f3f7f9;
}

.sub-nav__list {
  list-style: none;
}

.sub-nav__link {
  color: #ffd180;
}

.sub-nav__link:hover,
.sub-nav__link:focus {
  text-decoration: underline;
}

.sub-nav__link:active {
  color: rgba(255, 209, 128, 0.5);
}

/* panel */
.panel {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;

  background-color: #32425c;
}

.panel__link {
  color: #ffd180;
}

/* networks */
.networks {
  list-style: none;
}

.networks__link {
  background-color: #212a3a;
}

/* modal */
.modal {
  display: none;
}

/* popup: map */
.iframe-map {
  border: none;
}
