*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* titles */
.page-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.page-title--with-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;

  background-color: #f2f6f8;
}

.title-with-button {
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 25px;
  padding-left: 30px;

  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
}

.title--main-color {
  color: #000000;
}

.sub-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
}

.inner-title {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
}

.inner-title--with-bg {
  background-color: #f7f3ec;
}

/* buttons */
.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;

  border: none;
}

.button--primary {
  color: #ffffff;

  background-color: #ee3643;
}

.button--primary:hover,
.button--primary:focus {
  background-color: #ca2c37;
}

.button--primary:active {
  background-color: #ba2732;
}

.button--accent {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button--accent:hover,
.button--accent:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button--accent:active {
  background-color: #518534;
  box-shadow: none;
}

.button--secondary {
  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 3px #63a63e;

  outline: none;
}

.button--secondary:hover,
.button--secondary:focus {
  border: solid 3px #32425c;
}

.button--secondary:active {
  opacity: 0.3;
}

/* logo */
.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  width: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

/* main-header */
.main-header {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
}

.main-header__main-menu-wrapper {
  background-color: #293449;
}

.main-header__main-menu {
  width: 940px;
  margin: 0 auto;

  min-height: 42px;
}

/* main-menu */
.main-menu {
  background-color: #293449;

  display: flex;
  align-items: center;

  position: relative;
  padding-left: 220px;
}

.main-menu__logo {
  height: 47px;

  position: absolute;
  top: 0;
  left: 0;
}

.main-menu__search {
  flex-grow: 1;
}

.main-menu__search-field {
  background-color: #293449;
  border: none;
}

.main-menu__search-field::placeholder {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;
}

.main-menu__search-field:focus {
  font-size: 17px;
  line-height: 1.06;
  color: #000000;

  background-color: #ffffff;
}

.main-menu__btn,
.main-menu__btn,
.main-menu__btn {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;

  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  text-align: center;
}

.main-menu__btn:hover,
.main-menu__btn:focus,
.main-menu__btn:hover,
.main-menu__btn:focus {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.main-menu__btn--not-empty {
  background-color: #ee3643;
}

.main-menu__btn--order {
  background-color: #63a63e;
}

.main-menu__btn--order:hover,
.main-menu__btn--order:focus {
  background-color: #5fbb2d;
}

.main-menu__btn--order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/* navigation */
.main-header__navigation-wrapper {
  background-color: #f4f7f9;
  margin-bottom: 59px;
}

.main-header__navigation {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 1px;
}

.navigation {
  background-color: #f4f7f9;
}

.navigation__wrapper {
  padding-top: 46px;
  padding-right: 0;
  padding-bottom: 43px;
  padding-left: 50px;

  display: flex;
  justify-content: space-between;
}

.navigation__headline {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;

  width: 197px;
}

/* site-contacts */
.site-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.site-contacts__phone {
  font-size: 21px;
  letter-spacing: 0.42px;
  color: #e9292a;

  border: solid 3px #ffffff;

  display: block;
  height: 45px;
  width: 270px;
  margin-bottom: 5px;
}

.site-contacts__phone:hover,
.site-contacts__phone:focus,
.site-contacts__phone:active {
  color: #e9292a;
}

/* user navigation */
.user-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
}

.user-nav__item {
  background-color: #ffffff;

  display: inline-table;
  padding: 14px 25px;
}

.user-nav__item:not(:last-child) {
  margin-right: 10px;
}

.user-nav__link {
  font-size: 21px;
  color: #000000;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* site navigation */
.navigation__site-nav {
  margin-bottom: 59px;
}

.site-nav {
  font-size: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: 60px;
}

.site-nav__link {
  color: #ffffff;

  padding: 20px 30px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #ffffff;
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* user-profile */
.user-profile {
  background-color: #ffffff;

  padding: 14px;
  width: 299px;
}

.user-profile__link {
  font-size: 21px;
  color: #000000;
}

.user-profile__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*user-account */
.user-account {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.user-account__item {
  padding: 10px 15px;
}

.user-account__link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-account__link:hover,
.user-account__link:focus {
  color: #ee3643;
}

.user-account__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* index page grid */
.index-info {
  display: flex;
  justify-content: space-between;
}

.index-info__delivery {
  width: 520px;
}

.index-info__contacts {
  width: 300px;
}

/* catalog page grid */
.page-top-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns__filter {
  width: 220px;
}

.columns__content {
  width: 700px;
}

.content__sort {
  margin-bottom: 20px;
}

.content__goods {
  margin-bottom: 30px;
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.breadcrumbs__item {
  padding-right: 16px;
}
.breadcrumbs__link {
  color: #000000;
  line-height: 1.38;
  text-transform: uppercase;
}

/* categories */
.categories {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.categories__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;

  display: block;
}

.categories__link {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
}

.categories__item {
  width: 300px;
  height: 123px;
}
.categories__item--materials {
  background-color: #ffbf47;
}

.categories__item--tools {
  background-color: #3bbce3;
}

.categories__item--equipment {
  background-color: #dc91d8;
}

.categories__item--full-cart {
  background-color: #8ed78f;
}

.categories__item--delivery {
  background-color: #ffc047;
}

/* slider */
.slider__arrow-nav {
  position: absolute;
  top: 50%;
}

.slider__arrow-nav--left {
  left: 25px;
}

.slider__arrow-nav--right {
  right: 25px;
}

.slider__dot-nav {
  position: absolute;
  left: 50%;
  bottom: 36px;
}

.slider {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;

  position: relative;
}

.slider__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  display: block;
  padding-top: 25px;
  padding-left: 25px;
}

.slider__text {
  font-size: 18px;
  line-height: 1.33;

  margin: 0;
  padding-left: 25px;
}

.slider__item {
  width: 620px;
  height: 266px;
  background-repeat: no-repeat;

  display: none;
}

.slider__button {
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.slider__item--active {
  display: block;
}

.slider__item--drill {
  background-color: #bea591;
  background-image: url("../img/slider-advantages-1.jpg");
}

.slider__item--perforator {
  background-color: #ccbdaf;
  background-image: url("../img/slider-advantages-2.jpg");
}

/* advantages */
.advantages {
  margin-bottom: 53px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages__categories {
  margin-bottom: 20px;
}

.advantages__categories-vertical {
  flex-direction: column;
}

/* goods */
.catalog__title-with-button {
  margin-bottom: 21px;
}

.goods {
  font-family: 'PT Sans', Arial, sans-serif;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  background-color: #ffffff;
  border: solid 1px #eaeaea;

  width: 220px;
  margin-bottom: 21px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.goods__item:nth-child(3n) {
  margin-right: 0;
}

.catalog__goods .goods__item {
  margin-right: 20px;
}

.catalog__goods .goods__item:nth-child(4n) {
  margin-right: 0;
}

.goods__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;

  text-align: center;
}

.goods__img {
  order: -1;
}

.goods__title {
  font-size: inherit;
  margin-top: 12px;
  margin-right: 31px;
  margin-bottom: 18px;
  margin-left: 30px;
}

.goods__old-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #ffffff;

  background-color: #ee3643;

  margin-top: auto;
}

.goods__buttons {
  background-color: #ffffff;

  height: 170px;
  width: 100%;
  display: none;

  position: absolute;
  top: 0;
  left: 0;
}

.goods__buttons--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods__btn-buy {
  margin-bottom: 7px;
}

/* brands */
.brands__title-with-button {
  margin-bottom: 20px;
}

.brands__list {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.brands__item {
  width: 220px;
  height: 145px;

  margin-bottom: 20px;
  margin-right: 20px;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__item:hover,
.brands__item:focus,
.brands__item:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands__item:active {
  opacity: 0.3;
}

/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
}

.pagination__link:hover,
.pagination__link:focus {
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #bdc6ca;
}

.pagination__link:active {
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #ee3643;
}

.pagination__link--current {
  color: #ffffff;

  background-color: #ee3643;
  border: solid 1px #ee3643;
}

/* info */
.info-wrapper {
  background-color: #f4f7f9;
}

.info {
  background-color: #f4f7f9;

  width: 940px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 73px;
}

.info__text {
  margin: 0;
}

/* services */
.services-wrapper {
  background-color: #f4f7f9;
}

.services {
  background-color: #f4f7f9;
}

.services__slider {
  display: flex;
}

.services__list {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;

  list-style: none;
  margin: 0;
  padding: 0;
}

.services__button {
  color: #ffffff;
  border: none;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;

  width: 240px;
  padding: 22px;
}

.services__button:hover,
.services__button:focus,
.services__button:active {
  color: #ffffff;
  background-color: #293449;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services__button--active {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

/* services information list */
.services__info-list {
  flex-grow: 1;
}

.info-list {
  list-style: none;
  margin: 0;
  margin-left: 80px;
  padding: 0;
}

.info-list__item {
  background-repeat: no-repeat;
  background-position-x: right;
  width: 100%;
}

.info-list__text {
  margin: 0;
  width: 377px;
}

.info-list__item--delivery {
  background-image: url("../img/slider-services-delivery.png");
}

.info-list__item--guarantee {
  background-image: url("../img/slider-services-guarantee.png");
}

.info-list__item--credit {
  background-image: url("../img/slider-services-credit.png");
}

/* delivery section */
.delivery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.delivery__item {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
}

/* contacts section */
.contacts__text {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #000000;
}

/* filter */
.filter__fieldset {
  border: none;
}

.filter__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
}

.filter__track {
  background-color: #f7f3ec;
}

.filter__track_values {
  background-color: #f7f3ec;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__input + label,
.filter__input:hover + label,
.filter__input:focus + label {
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

.filter__input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter__button {
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

/* sort */
.sort {
  height: 38px;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort--with-bg {
  background-color: #f7f3ec;
}

.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.sort__list--with-bg {
  background-color: #f7f3ec;
}

.sort__item {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  margin-right: 70px;
}

.sort__link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover,
.sort__link:focus,
.sort__link:active {
  color: #000000;
}

.sort__link--current,
.sort__link--current:hover,
.sort__link--current:focus,
.sort__link--current:active {
  color: #ee3643;
  border-bottom: none;
}

.list-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* main-footer */
.main-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: #32425c;
}

.main-footer__sub-menu,
.main-footer__sub-nav {
  width: 940px;
  margin: 0 auto;
}

.main-footer__sub-menu {
  margin-bottom: 32px;
}

.main-footer__sub-nav {
  margin-bottom: 53px;
}

/* sub-menu */
.sub-menu {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-menu__logo {
  height: 68px;
}

.sub-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.sub-menu__item:not(:last-child) {
  margin-right: 60px;
}

.sub-menu__link {
  color: #f1f5f7;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  text-decoration: underline;
}

.sub-menu__link:active {
  color: rgba(241, 245, 247, 0.5);
}

/* sub-nav */
.sub-nav {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;

  display: flex;
  justify-content: space-between;
}

.sub-nav,
.sub-nav__phone,
.sub-nav__phone:hover,
.sub-nav__phone:focus,
.sub-nav__phone:active {
  color: #f3f7f9;
}

.sub-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.sub-nav__item:not(:last-child) {
  margin-right: 60px;
}

.sub-nav__text {
  margin: 0;

  width: 325px;
}

.sub-nav__link {
  color: #ffd180;
}

.sub-nav__link:hover,
.sub-nav__link:focus {
  text-decoration: underline;
}

.sub-nav__link:active {
  color: rgba(255, 209, 128, 0.5);
}

/* panel */
.main-footer__panel-wrapper {
  background-color: #293449;
}

.main-footer__panel {
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
}

.panel {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;

  background-color: #293449;

  display: flex;
}

.panel__copyrights,
.panel__email,
.panel__developer {
  margin: 0;
}

.panel__copyrights {
  width: 228px;
}

.panel__email {
  width: 135px;
  margin-right: 53px  ;
}

.panel__developer {
  width: 96px;
  margin-right: 15px;
}

.panel__networks {
  margin-right: 119px;
  flex-grow: 1;
}

.panel__link {
  color: #ffd180;
}

/* networks */
.networks {
  list-style: none;
}

.networks__link {
  background-color: #212a3a;
}

/* modal */
.modal {
  display: none;
}

/* popup: map */
.iframe-map {
  border: none;
}
