*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.85;
  color: #000000;

  background-color: #ffffff;
}

.container {
  width: 940px;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* titles */
.page-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
}

.page-title--with-bg {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 30px;

  background-color: #f2f6f8;
}

.title-with-button {
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 25px;
  padding-left: 30px;

  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;

  margin-top: 5px;
  margin-left: -2px;
  margin-bottom: 5px;
}

.title--info {
  color: #000000;
  margin-top: 63px;
  margin-bottom: 26px;
  margin-left: 0;
}

.sub-title {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;
}

.inner-title {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
}

.inner-title--with-bg {
  background-color: #f7f3ec;
}

/* buttons */
.button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: center;

  border: none;
}

.button--primary {
  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 44px;
  padding-right: 44px;
}

.button--primary:hover,
.button--primary:focus {
  background-color: #ca2c37;
}

.button--primary:active {
  background-color: #ba2732;
}

.button--wide {
  min-width: 253px;
}

.button--accent {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button--accent:hover,
.button--accent:focus {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button--accent:active {
  background-color: #518534;
  box-shadow: none;
}

.button--secondary {
  color: #32425c;
  text-transform: uppercase;

  background-color: #ffffff;
  border: solid 3px #63a63e;

  outline: none;
}

.button--secondary:hover,
.button--secondary:focus {
  border: solid 3px #32425c;
}

.button--secondary:active {
  opacity: 0.3;
}

/* logo */
.logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  width: 220px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

/* icon */
.icon::before {
  opacity: 0.5;
  position: absolute;
}

.icon--bookmark::before {
  content: url("../img/icons/icon-bookmark.svg");
  top: 12px;
  left: 17px;
}

.icon--cart::before {
  content: url("../img/icons/icon-cart.svg");
  top: 12px;
  left: 18px;
}

.icon--phone::before {
  content: url("../img/icons/icon-phone.svg");
  top: 9px;
  left: 14px;
}

/* mark */
.mark {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
  color: #ffffff;

  background-color: #ee3643;

  transform: rotate(45deg);
  position: absolute;
  top: 5px;
  right: -24px;

  width: 90px;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: center;
}

/* main-header */
.main-header {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
}

.main-header__main-menu-wrapper {
  background-color: #293449;
}

.main-header__main-menu {
  width: 940px;
  margin: 0 auto;

  min-height: 42px;
}

/* main-menu */
.main-menu {
  background-color: #293449;

  display: flex;
  align-items: center;

  position: relative;
  padding-left: 220px;
}

.main-menu__logo {
  height: 47px;

  position: absolute;
  top: 0;
  left: 0;
}

.main-menu__search {
  position: relative;
  flex-grow: 1;
}

.main-menu__search-field {
  font-size: 17px;
  color: #ffffff;
  background-color: #293449;
  margin-left: 44px;
  padding: 0 4px;
  border: none;
  height: 42px;
  line-height: 42px;
  width: 226px;
}

/* Firefox 19+ */
.main-menu__search-field::-moz-placeholder{
  font-size: 17px;
  line-height: 42px;
  height: 42px;
  color: #ffffff;
  vertical-align: middle;
}

/* IE10+ */
.main-menu__search-field:-ms-input-placeholder{
  font-size: 17px;
  line-height: 42px;
  height: 42px;
  color: #ffffff !important; /* IE11 needs the !important flag */
}

/* Edge - only work on some properties */
.main-menu__search-field::-ms-input-placeholder{
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px !important;
  line-height: 42px;
  height: 42px;
  color: #ffffff;
}

/* Chrome/Opera/Safari */
.main-menu__search-field::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 42px;
  height: 42px;
  color: #ffffff !important;
}

.main-menu__search-field::placeholder {
  font-size: 17px;
  line-height: 42px;
  height: 42px;
  color: #ffffff;
}

.main-menu__search-field:hover {
  background-color: #293449;
}

.main-menu__search-field:focus {
  color: #000000;
  outline: none;

  background-color: #ffffff;
}


.main-menu__search-label {
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  width: 44px;
  padding-top: 12px;
  padding-left: 17px;
}

.main-menu__search-field:hover + label {
  opacity: 1;
  background-color: #293449;
}

.main-menu__search-field:focus + label {
  opacity: 1;
  background-color: #ffffff;
}

.main-menu__search-field:focus + label path {
  fill: red;
}

.main-menu__btn {
  font-size: 17px;
  line-height: 1.06;
  color: #ffffff;

  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;

  position: relative;
}

.main-menu__btn.icon:hover::before,
.main-menu__btn.icon:focus::before {
  opacity: 1;
}

.main-menu__btn.icon:visited::before{
  opacity: 0.5;
}

.main-menu__btn.icon:active::before {
  opacity: 0.6;
}

.main-menu__btn:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.main-menu__btn.icon--cart {
  padding-left: 50px;
}

.main-menu__btn--not-empty {
  background-color: #ee3643;
}

.main-menu__btn--order {
  text-align: center;
  background-color: #63a63e;

  padding: 12px;
}

.main-menu__btn--order:hover,
.main-menu__btn--order:focus {
  background-color: #5fbb2d;
}

.main-menu__btn--order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

/* navigation */
.main-header__navigation-wrapper {
  background-color: #f4f7f9;
  margin-bottom: 59px;
}

.main-header__navigation {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 1px;
}

.navigation {
  background-color: #f4f7f9;
}

.navigation__wrapper {
  padding-top: 45px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 52px;

  display: flex;
}

.navigation__headline {
  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;

  width: 197px;
  margin-right: 71px;
  padding-top: 4px;
}

.navigation__site-contacts {
  position: relative;
  margin-right: auto;
}

/* site-contacts */
.site-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.site-contacts__phone {
  font-size: 21px;
  letter-spacing: 0.1px;
  color: #e9292a;

  border: solid 3px #ffffff;

  display: block;
  height: 45px;
  width: 270px;
  padding-left: 70px;
  padding-top: 4px;
  margin-bottom: 5px;
}

.site-contacts__phone:hover,
.site-contacts__phone:focus,
.site-contacts__phone:active {
  color: #e9292a;
}

.site-contacts__address {
  padding-left: 10px;
}

/* user navigation */
.user-nav {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: flex-start;
}

.user-nav__item {
  letter-spacing: 0.1px;

  background-color: #ffffff;
  padding: 13px 24px;

  position: relative;
}

.user-nav__item:not(:last-child) {
  margin-right: 10px;
}

.user-nav__item--login {
  width: 121px;
}

.user-nav__link--login {
  padding-left: 24px;
}

.user-nav__icon-login {
  position: absolute;
  top: 15px;
  left: 15px;
}

.user-nav__link {
  font-size: 21px;
  color: #000000;
}

.user-nav__link:hover,
.user-nav__link:focus {
  color: #ee3643;
}

.user-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__link:hover + .user-nav__icon-login path,
.user-nav__link:focus + .user-nav__icon-login path {
  fill: #32425C;
}

.user-nav__link:active + .user-nav__icon-login path {
  fill: #c5c5c5;
}


/* site navigation */
.navigation__site-nav {
  margin-bottom: 59px;
}

.site-nav {
  font-size: 17px;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-nav__list {
  list-style: none;
  margin: 0;
  padding: 0px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  min-height: 60px;
}

.sub-nav__item {
  display: flex;
}

.site-nav__link {
  color: #ffffff;

  display: block;
  min-height: 60px;
  padding: 20px 30px;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #ffffff;
  background-color: #293449;
}

.site-nav__link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

/* user-profile */
.user-profile {
  background-color: #ffffff;

  padding: 14px;
  width: 299px;
}

.user-profile__link {
  font-size: 21px;
  color: #000000;
}

.user-profile__link:active {
  color: rgba(0, 0, 0, 0.3);
}

/*user-account */
.user-account {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.user-account__item {
  padding: 10px 15px;
}

.user-account__link {
  font-size: 16px;
  line-height: 1.13;
  color: #32425c;
  text-decoration: underline;
}

.user-account__link:hover,
.user-account__link:focus {
  color: #ee3643;
}

.user-account__link:active {
  color: rgba(50, 66, 92, 0.3);
}

/* index page grid */
.index-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  padding-top: 4px;
}

.index-info__delivery {
  width: 520px;
}

.index-info__contacts {
  width: 300px;
}

/* catalog page grid */
.page-top-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.columns__filter {
  width: 220px;
}

.columns__content {
  width: 700px;
}

.content__sort {
  margin-bottom: 20px;
}

.content__goods {
  margin-bottom: 30px;
}

/* breadcrumbs */
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.breadcrumbs__item {
  padding-right: 16px;
}
.breadcrumbs__link {
  color: #000000;
  line-height: 1.38;
  text-transform: uppercase;
}

/* categories */
.categories {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;

  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
}

.categories__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;

  display: block;
}

.categories__link {
  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  width: 135px;
  margin: 11px 3px;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.categories__item {
  width: 300px;
  height: 123px;
  padding: 22px;

  position: relative;
  overflow: hidden;
}

.categories__item::after {
  color: #ffffff;
  position: absolute;
}

.categories__item--materials {
  background-color: #ffbf47;
}

.categories__item--materials::after {
  content: url("../img/icons/icon-materials.svg");
  width: 44px;
  height: 65px;
  bottom: 27px;
  right: 43px;
}

.categories__item--tools {
  background-color: #3bbce3;
}

.categories__item--tools::after {
  content: url("../img/icons/icon-tools.svg");
  width: 75px;
  height: 61px;
  bottom: 29px;
  right: 28px;
}

.categories__item--equipment {
  background-color: #dc91d8;
}

.categories__item--equipment::after {
  content: url("../img/icons/icon-equipment.svg");
  width: 78px;
  height: 62px;
  bottom: 31px;
  right: 31px;
}

.categories__item--full-cart {
  background-color: #8ed78f;
}

.categories__item--full-cart::after {
  content: url("../img/icons/icon-full-cart.svg");
  width: 59px;
  height: 72px;
  bottom: 26px;
  right: 45px;
}

.categories__item--delivery {
  background-color: #ffc047;
}

.categories__item--delivery::after {
  content: url("../img/icons/icon-delivery.svg");
  width: 78px;
  height: 63px;
  bottom: 28px;
  right: 31px;
}

/* slider */
.slider__arrow-nav {
  position: absolute;
  top: 114px;

  width: 22px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;

  border: none;
  cursor: pointer;
}

.slider__arrow-nav--left {
  left: 25px;
  background-image: url("../img/icons/icon-left.svg");
}

.slider__arrow-nav--right {
  right: 20px;
  background-image: url("../img/icons/icon-right.svg");
}

.slider__dot-nav {
  font-size: 0;

  position: absolute;
  left: 295px;
  bottom: 36px;
}

.dot-nav__item {
  width: 10px;
  height: 10px;

  background-color: #ffffff;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;

  display: inline-block;
  vertical-align: top;

  margin-right: 10px;
  padding: 0;

  cursor: pointer;
}

.dot-nav__item--active {
  background-color: #ee3643;
}

.slider {
  font-family: 'Cuprum', Arial, sans-serif;
  color: #ffffff;

  position: relative;
}

.slider__title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;

  display: block;
  padding-top: 25px;
  padding-left: 25px;
}

.slider__text {
  font-size: 18px;
  line-height: 1.33;

  margin: 0;
  padding-left: 25px;
}

.slider__item {
  width: 620px;
  height: 266px;
  background-repeat: no-repeat;

  display: none;
}

.slider__button {
  position: absolute;
  left: 25px;
  bottom: 22px;

  padding-left: 50px;
  padding-right: 46px;
  padding-right: 46px;
}

.slider__item--active {
  display: block;
}

.slider__item--drill {
  background-color: #bea591;
  background-image: url("../img/slider-advantages-1.jpg");
}

.slider__item--perforator {
  background-color: #ccbdaf;
  background-image: url("../img/slider-advantages-2.jpg");
}

/* advantages */
.advantages {
  margin-bottom: 53px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
}

.advantages__categories {
  margin-bottom: 20px;
}

.advantages__categories-vertical {
  flex-direction: column;
}

/* goods */
.catalog__title-with-button {
  margin-bottom: 19px;
}

.goods {
  font-family: 'PT Sans', Arial, sans-serif;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  background-color: #ffffff;
  border: solid 1px #eaeaea;

  width: 220px;
  min-height: 318px;
  margin-bottom: 21px;
  margin-right: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.goods__item:nth-child(3n) {
  margin-right: 0;
}

.catalog__goods .goods__item {
  margin-right: 20px;
}

.catalog__goods .goods__item:nth-child(4n) {
  margin-right: 0;
}

.goods__item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.goods__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #000000;

  text-align: center;
}

.goods__img {
  order: -1;
  margin-bottom: 10px;
}

.goods__title {
  font-size: inherit;
  margin: 0 auto 13px;
  width: 80%;
}

.goods__old-price {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #a9a9a9;
  text-decoration: line-through;
  text-transform: uppercase;
  margin: 0;
}

.goods__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 38px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  width: 122px;
  height: 38px;

  margin-top: auto;
  margin-bottom: 0;
  margin-left: 42px;
  padding-left: 35px;

  position: relative;

  align-self: flex-start;
}

.goods__price::after {
  content: " ";
  border: 19px solid white;
  border-left-color: #ee3643;

  width: 0;
  height: 0;

  position: absolute;
  top: 0;
  right: -38px;
}

.goods__buttons {
  background-color: #ffffff;

  height: 170px;
  width: 100%;
  display: none;

  position: absolute;
  top: 0;
  left: 0;
}

.goods__buttons--active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods__btn-buy {
  margin-bottom: 7px;
}

/* brands */
.brands {
  margin-bottom: 65px;
}

.brands__title-with-button {
  margin-bottom: 20px;
}

.brands__list {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.brands__item {
  width: 220px;
  height: 145px;

  margin-bottom: 20px;
  margin-right: 20px;
}

.brands__item:nth-child(4n) {
  margin-right: 0;
}

.brands__item:hover,
.brands__item:focus,
.brands__item:active {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands__item:active {
  opacity: 0.3;
}

/* pagination */
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.pagination__item {
  margin-right: 10px;
}

.pagination__link {
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
}

.pagination__link:hover,
.pagination__link:focus {
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #bdc6ca;
}

.pagination__link:active {
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #ee3643;
}

.pagination__link--current {
  color: #ffffff;

  background-color: #ee3643;
  border: solid 1px #ee3643;
}

/* info */
.info-wrapper {
  border-top: 1px solid transparent;
  background-color: #f4f7f9;
}

.info {
  background-color: #f4f7f9;

  width: 940px;
  margin: 0 auto;
  padding-bottom: 73px;
}

.info__text {
  margin: 0;
}

/* services */
.services-wrapper {
  border-top: 1px solid transparent;
  background-color: #f4f7f9;
}

.services {
  background-color: #f4f7f9;
}

.services__info {
  margin: 0;
  max-width: 400px;
  margin-bottom: 65px;
}

.services__slider {
  display: flex;
}

.services__list {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;

  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.services__list:after {
  content: '';
  background-image: url("../img/services-shadow.png");
  width: 10px;
  height: 279px;

  position: absolute;
  top: -45px;
  right: 0;
}

.services__button {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #ffffff;
  text-align: left;

  border: none;
  background-color: #32425c;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;

  min-width: 240px;
  padding-top: 18px;
  padding-bottom: 15px;
  padding-left: 22px;
}

.services__button:hover,
.services__button:focus,
.services__button:active {
  color: #ffffff;
  background-color: #293449;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services__button--active {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0px 1px 0 0 #ffffff, inset 0.6px 0.8px 0 0 #ffffff;
}

/* services information list */
.services__info-list {
  flex-grow: 1;
}

.info-list {
  list-style: none;
  margin: 0;
  margin-left: 80px;
  padding: 0;
}

.info-list__item {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 27px;
  width: 100%;
  height: 0;
  visibility: hidden;
}

.info-list__text {
  margin: 0;
  width: 377px;
}

.info-list__item--active {
  min-height: 300px;
  visibility: visible;
}

.info-list__item--delivery {
  background-image: url("../img/slider-services-delivery.png");
}

.info-list__item--guarantee {
  background-image: url("../img/slider-services-guarantee.png");
}

.info-list__item--credit {
  background-image: url("../img/slider-services-credit.png");
}

/* delivery section */
.delivery {
  display: flex;
  flex-direction: column;
  min-height: 434px;
}

.delivery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.delivery__item {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.11;
  padding-left: 36px;
  margin-bottom: 21px;

  position: relative;
}

.delivery__item::before {
  content: "";
  background-color: #ee3643;
  width: 25px;
  height: 2px;

  position: absolute;
  top: 50%;
  left: 0;
}

.delivery__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery .delivery__text:last-of-type {
  margin-bottom: 21px;
}

.delivery__button {
  margin-top: auto;
  align-self: flex-start;

  padding-right: 36px;
}

/* contacts section */
.contacts {
  display: flex;
  flex-direction: column;
  min-height: 434px;
}

.contacts__text {
  margin-top: 0;
  margin-bottom: 31px;
}

.contacts__button {
  margin-top: auto;
}

/* filter */
.filter__fieldset {
  border: none;
}

.filter__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-transform: uppercase;
}

.filter__track {
  background-color: #f7f3ec;
}

.filter__track_values {
  background-color: #f7f3ec;
}

.filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter__input + label,
.filter__input:hover + label,
.filter__input:focus + label {
  font-size: 15px;
  line-height: 1.33;
  color: #000000;
  text-transform: uppercase;
}

.filter__input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter__button {
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

/* sort */
.sort {
  height: 38px;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort--with-bg {
  background-color: #f7f3ec;
}

.sort__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.sort__list--with-bg {
  background-color: #f7f3ec;
}

.sort__item {
  font-size: 13px;
  line-height: 1.38;
  text-transform: uppercase;
  margin-right: 70px;
}

.sort__link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover,
.sort__link:focus,
.sort__link:active {
  color: #000000;
}

.sort__link--current,
.sort__link--current:hover,
.sort__link--current:focus,
.sort__link--current:active {
  color: #ee3643;
  border-bottom: none;
}

.list-order {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* main-footer */
.main-footer {
  font-family: 'Cuprum', Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  background-color: #32425c;
}

.main-footer__sub-menu,
.main-footer__sub-nav {
  width: 940px;
  margin: 0 auto;
}

.main-footer__sub-menu {
  margin-bottom: 28px;
}

.main-footer__sub-nav {
  margin-bottom: 53px;
}

/* sub-menu */
.sub-menu {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub-menu__logo {
  height: 68px;
}

.sub-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 720px;

  display: flex;
  flex-wrap: wrap;
}

.sub-menu__item {
  margin-top: 38px;
  margin-left: 60px;
}

.sub-menu__link {
  color: #f1f5f7;
}

.sub-menu__link:hover,
.sub-menu__link:focus {
  text-decoration: underline;
}

.sub-menu__link:active {
  color: rgba(241, 245, 247, 0.5);
}

/* sub-nav */
.sub-nav {
  font-size: 18px;
  line-height: 1.33;

  background-color: #32425c;

  display: flex;
  justify-content: space-between;
}

.sub-nav,
.sub-nav__phone,
.sub-nav__phone:hover,
.sub-nav__phone:focus,
.sub-nav__phone:active {
  color: #f3f7f9;
}

.sub-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.sub-nav__item:not(:last-child) {
  margin-right: 60px;
}

.sub-nav__text {
  margin: 0;

  width: 325px;
}

.sub-nav__link {
  color: #ffd180;
}

.sub-nav__link:hover,
.sub-nav__link:focus {
  text-decoration: underline;
}

.sub-nav__link:active {
  color: rgba(255, 209, 128, 0.5);
}

/* panel */
.main-footer__panel-wrapper {
  background-color: #293449;
}

.main-footer__panel {
  width: 940px;
  margin: 0 auto;
  padding: 40px 0 30px;
}

.panel {
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;

  background-color: #293449;

  display: flex;
}

.panel__copyrights,
.panel__email,
.panel__developer {
  margin: -5px 0 0;
}

.panel__copyrights {
  width: 228px;
}

.panel__email {
  width: 135px;
  margin-right: 53px  ;
}

.panel__developer {
  width: 96px;
  margin-right: 15px;
}

.panel__networks {
  margin-right: 119px;
  flex-grow: 1;
}

.panel__link {
  color: #ffd180;
}

/* networks */
.networks {
  list-style: none;
}

.networks__link {
  background-color: #212a3a;
}

/* modal */
.modal {
  display: none;
}

/* popup: map */
.iframe-map {
  border: none;
}
